extends: default

ignore: |
  infrastructure/*/templates/
  infrastructure/*/charts/

rules:
  document-start: disable
  comments-indentation: disable
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
  line-length: disable
  indentation:
    spaces: 2
