[defaults]
inventory = inventory/terraform.yaml
collections_path = ~/.ansible/collections
enable_plugins = cloud.terraform.terraform_provider

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null

[galaxy]
server_list = galaxy_v3

[galaxy_server.galaxy_v3]
url = https://galaxy.ansible.com/
api_version = 3
